<template>
  <d-card class="card-small h-100">
    <!-- Card Header -->
    <d-card-header class="border-bottom">
      <h6 class="m-0">Users Overview</h6>
      <div class="block-handle"></div>
    </d-card-header>

    <d-card-body class="pt-0">
      <d-row class="border-bottom py-2 mb-3 bg-light">
        <!-- Date Range -->
        <d-col cols="12" sm="6" class="d-flex mb-2 mb-sm-0">
          <d-input-group size="sm" class="date-range d-flex justify-content-left">
            <d-datepicker
                v-model="dateRange.from"
                placeholder="Start Date"
                :disabled-dates="startDisabled"
                typeable small
                @input="onChangeDate"/>
            <d-datepicker
                v-model="dateRange.to"
                placeholder="End Date"
                :disabled-dates="endDisabled"
                @input="onChangeDate"
                typeable small />
            <d-input-group-text slot="append">
              <i class="material-icons">&#xE916;</i>
            </d-input-group-text>
          </d-input-group>
        </d-col>

        <!-- View Full Report -->
        <d-col cols="12" sm="6">
          <d-button
            size="sm"
            class="d-flex btn-white ml-auto mr-auto ml-sm-auto mr-sm-0"
            @click="fetchData">
              Refresh
          </d-button>
        </d-col>
      </d-row>

      <!-- Chart View -->
      <d-row>
        <d-col>
          <bar-chart
            :chartData="datacollection"
            :options="chartOptions"
            :styles="chartStyle"/>
          </d-col>
      </d-row>
    </d-card-body>
  </d-card>
</template>

<script>
import BarChart from './Base/BarChart.vue';
import AnalyticsService from '../../services/analyticsService';
import moment from 'moment';

export default {
  name: 'UsersOverview',
  components: {
    BarChart,
  },
  data() {
    return {
      dateRange: {
        from: moment().subtract(31, 'days').toDate(),
        to: moment().subtract(1, 'days').toDate(),
      },
      data: [],
      labels: [],
    };
  },
  computed: {
    startDisabled() {
      return {
        to: new Date(2017, 12, 1),
        from: this.dateRange.to,
      };
    },
    endDisabled() {
      return {
        from: moment().subtract(1, 'days').toDate(),
        to: this.dateRange.from,
      };
    },
    datacollection() {
      return {
        labels: this.labels,
        datasets: [{
          label: 'Today',
          fill: 'start',
          borderWidth: 1.5,
          backgroundColor: 'rgba(0, 184, 216, 0.1)',
          borderColor: 'rgb(0, 184, 216)',
          data: this.data,
        }],
      };
    },
    chartOptions() {
      return {
        maintainAspectRatio: false,
        responsive: true,
        legend: {
          display: false,
        },
        scales: {
          yAxes: [{
            ticks: {
              isplay: false,
              beginAtZero: true,
            },
          }],
        },
      };
    },
    chartStyle() {
      return {
        height: '300px',
        position: 'relative',
      };
    },
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    async fetchData() {
      await AnalyticsService.fetchUsers(this.transformDate(this.dateRange.from), this.transformDate(this.dateRange.to))
        .then((res) => {
          this.labels = [];
          this.data = res.data.data;
          this.data.forEach((data, index) => {
            const date = moment(this.dateRange.from, 'YYYY MMM').add(index, 'd').toDate();
            this.labels.push(moment(date).format('M-DD'));
          });
        });
    },
    transformDate(date) {
      const year = date.getFullYear();
      const month = (date.getMonth() + 1).toLocaleString('en-US', { minimumIntegerDigits: 2 });
      const day = date.getDate().toLocaleString('en-US', { minimumIntegerDigits: 2 });
      return `${year}-${month}-${day}`;
    },
    onChangeDate() {
      this.fetchData();
    },
  },
};
</script>
