<template>
  <d-container fluid class="main-content-container px-4" v-if="loaded">
    <!-- Page Header -->
    <d-row no-gutters class="page-header py-4">
      <d-col col sm="4" class="text-center text-sm-left mb-4 mb-sm-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
        <h3 class="page-title">Analytics</h3>
      </d-col>
    </d-row>

    <!-- Small Stats Blocks -->
    <d-row>
      <d-col lg="3" md="6" v-for="(stats, idx) in smallStats" :key="idx" class="mb-4">
        <small-stats
          :id="`small-stats-${idx}`"
          :chart-data="stats.datasets"
          :label="stats.label"
          :value="stats.value"
          :percentage="stats.percentage"
          :increase="stats.increase"
          :decrease="stats.decrease" />
      </d-col>
    </d-row>

    <d-row>
      <d-col lg="6" md="12" sm="12" class="mb-4">
        <users-overview/>
      </d-col>
      <d-col lg="6" md="12" sm="12" class="mb-4">
        <orders-overview/>
      </d-col>
    </d-row>

    <d-row>
      <d-col class="mb-5">
        <transactions-overview/>
      </d-col>
    </d-row>
  </d-container>
</template>

<script>
import SmallStats from '../components/common/SmallStats.vue';
import AnalyticsService from '../services/analyticsService';
import UsersOverview from '../components/charts/UsersOverview.vue';
import OrdersOverview from '../components/charts/OrdersOverview.vue';
import TransactionsOverview from '../components/charts/TransactionsOverview.vue';

export default {
  components: {
    SmallStats,
    UsersOverview,
    OrdersOverview,
    TransactionsOverview,
  },
  data() {
    return {
      analytics: {},
      loaded: false,
    };
  },
  async mounted() {
    await AnalyticsService.fetch()
      .then((response) => {
        this.analytics = response.data.data;
        this.loaded = true;
      });
  },
  computed: {
    defaultLabel() {
      return ['Label', 'Label', 'Label', 'Label', 'Label', 'Label'];
    },
    smallStats() {
      return [
        {
          label: 'Users',
          value: this.analytics.users.count,
          percentage: this.getPercentage(this.analytics.users.data),
          increase: this.analytics.users.data[0] < this.analytics.users.data[6],
          decrease: this.analytics.users.data[0] > this.analytics.users.data[6],
          labels: this.defaultLabel,
          datasets: [
            {
              label: 'Today',
              fill: 'start',
              borderWidth: 1.5,
              backgroundColor: 'rgba(0, 184, 216, 0.1)',
              borderColor: 'rgb(0, 184, 216)',
              data: this.analytics.users.data,
            },
          ],
        },
        {
          label: 'Stores',
          value: this.analytics.stores.count,
          percentage: this.getPercentage(this.analytics.stores.data),
          increase: this.analytics.stores.data[0] <= this.analytics.stores.data[6],
          decrease: this.analytics.stores.data[0] >= this.analytics.stores.data[6],
          labels: this.defaultLabel,
          datasets: [
            {
              label: 'Today',
              fill: 'start',
              borderWidth: 1.5,
              backgroundColor: 'rgba(23,198,113,0.1)',
              borderColor: 'rgb(23,198,113)',
              data: this.analytics.stores.data,
            },
          ],
        },
        {
          label: 'Orders',
          value: this.analytics.orders.count,
          percentage: this.getPercentage(this.analytics.orders.data),
          increase: this.analytics.orders.data[0] <= this.analytics.orders.data[6],
          decrease: this.analytics.orders.data[0] >= this.analytics.orders.data[6],
          labels: this.defaultLabel,
          datasets: [
            {
              label: 'Today',
              fill: 'start',
              borderWidth: 1.5,
              backgroundColor: 'rgba(255,180,0,0.1)',
              borderColor: 'rgb(255,180,0)',
              data: this.analytics.orders.data,
            },
          ],
        }, {
          label: 'Transactions',
          value: this.analytics.transactions.count,
          percentage: this.getPercentage(this.analytics.transactions.data),
          increase: this.analytics.transactions.data[0] <= this.analytics.transactions.data[6],
          decrease: this.analytics.transactions.data[0] >= this.analytics.transactions.data[6],
          labels: this.defaultLabel,
          datasets: [
            {
              label: 'Today',
              fill: 'start',
              borderWidth: 1.5,
              backgroundColor: 'rgba(255,65,105,0.1)',
              borderColor: 'rgb(255,65,105)',
              data: this.analytics.transactions.data,
            },
          ],
        },
      ];
    },
  },
  methods: {
    getPercentage(data) {
      const difference = Math.abs(data[6] - data[0]);
      const percentage = Math.round((difference / data[0]) * 100) || 0;
      return `${percentage}%`;
    },
  },
};
</script>
