<template>
  <d-container fluid class="main-content-container px-4">
    <d-row no-gutters class="page-header py-4">
      <d-col col sm="4" class="text-center text-sm-left mb-4 mb-sm-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
        <h3 class="page-title">Cards</h3>
      </d-col>
    </d-row>
    <d-row class="pb-4">
      <d-col>
        <data-table
          :title-text="title"
          :title-icon="icon"
          :table-id="id"
          :ajax-url="url"
          :column-header="header"
          :column-data="columns"
          :searchable="true"
          :orderable="true"
          :column-defs="definitions()"
          :menu-actions="actions">
        </data-table>
      </d-col>
    </d-row>
  </d-container>
</template>

<script>
import DataTable from '../components/common/DataTable.vue';
import * as moment from 'moment';

export default {
  name: 'Users',
  components: {
    DataTable,
  },
  data() {
    return {
      title: 'Stores',
      icon: 'la la-institution',
      id: '#usersTable',
      url: 'api/v1/cards',
      header: ['ID', 'Number', 'Customer', 'Credits', 'Redemption', 'Rewards', 'Status', 'Description'],
      columns: [
        { data: 'card_id', searchable: false, orderable: true },
        { data: 'card_number', searchable: true, orderable: true },
        { data: 'user', searchable: true, orderable: false },
        { data: 'store_credits', searchable: false, orderable: true },
        { data: 'redemption_points', searchable: false, orderable: true },
        { data: 'reward_points', searchable: false, orderable: true },
        { data: 'status', searchable: false, orderable: false },
        { data: 'description', searchable: false, orderable: false },
      ],
      actions: ['show-details', 'edit-details', 'store-hours', 'store-images'],
      hasAction: false,
    };
  },
  methods: {
    definitions() {
      const def = [
        {
          targets: 2,
          render(user) {
            return user ? user.mobile : 'N/A';
          },
        }
      ];
      return def;
    },
  },
};
</script>
