<template>
  <div class="row h-100 no-gutters">
    <div class="auth-form mx-auto my-auto col-md-5 col-lg-3 col-md-6 col-sm-8 col-11">
      <d-card>
        <d-card-body>
          <img src="/images/shards-dashboards-logo.svg" alt="Shards Dashboards - Login Template" class="auth-form__logo d-table mx-auto mb-3">
          <h5 class="auth-form__title text-center mb-4">Access Your Account</h5>
          <form class="">
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <d-input id="exampleInputEmail1" type="text" placeholder="Enter username" v-model="username"/>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input id="exampleInputPassword1" type="password" placeholder="Password" class="form-control" v-model="password">
            </div>
            <button type="submit" class="btn btn-pill btn-accent d-table mx-auto" @click.prevent="attemptLogin">Access Account</button>
          </form>
        </d-card-body>
      </d-card>
    </div>
  </div>
</template>

<script>
import AuthService from '../services/authService';
export default {
  name: 'Login',
  data() {
    return {
      username: '',
      password: '',
    };
  },
  methods: {
    attemptLogin() {
      AuthService.login(this.$data)
        .then((res) => {
          this.$store.commit('setAuth', res.data);
          this.getCurrentUser();
        });
    },
    getCurrentUser() {
      AuthService.getCurrentUser()
        .then((res) => {
          this.$store.commit('setUser', res.data);
          this.$router.push('analytics');
        });
    },
  }
};
</script>
