<template>
  <d-container fluid class="main-content-container px-4">
    <d-row no-gutters class="page-header py-4">
      <d-col col sm="4" class="text-center text-sm-left mb-4 mb-sm-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
        <h3 class="page-title">Orders</h3>
      </d-col>
    </d-row>
    <d-row class="pb-4">
      <d-col>
        <data-table
          :title-text="title"
          :title-icon="icon"
          :table-id="id"
          :ajax-url="url"
          :column-header="header"
          :column-data="columns"
          :searchable="true"
          :orderable="true"
          :column-defs="definitions">
        </data-table>
      </d-col>
    </d-row>
  </d-container>
</template>

<script>
import DataTable from '../components/common/DataTable.vue';

export default {
  name: 'Users',
  components: {
    DataTable,
  },
  data() {
    return {
      title: 'Orders',
      icon: 'la la-institution',
      id: '#ordersTable',
      url: 'api/orders',
      header: ['ID', 'Store', 'Customer', 'Bill', 'Status', 'Date'],
      columns: [
        { data: 'order_id', searchable: true, orderable: true },
        { data: 'store', searchable: false, orderable: false },
        { data: 'user', searchable: false, orderable: false },
        { data: 'total_bill', searchable: false, orderable: true },
        { data: 'order_status', searchable: false, orderable: false },
        { data: 'created_at', searchable: false, orderable: true },
      ],
    };
  },
  computed: {
    definitions() {
      return [
        {
          targets: 1,
          render(store) {
            return `${store.store_name} - ${store.locality}`;
          },
        },
        {
          targets: 2,
          render(user) {
            return user.mobile;
          },
        },
        {
          targets: -1,
          render(date) {
            if (date) {
              return new Date(Date.parse(date)).toLocaleDateString();
            }
            return 'Unknown';
          },
        },
      ]
    }
  }
};
</script>
