<template>
  <d-container fluid class="main-content-container px-4">
    <d-row no-gutters class="page-header py-4">
      <d-col col sm="4" class="text-center text-sm-left mb-4 mb-sm-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
        <h3 class="page-title">Reviews</h3>
      </d-col>
    </d-row>
    <d-row class="pb-4">
      <d-col>
        <data-table
          :title-text="title"
          :title-icon="icon"
          :table-id="id"
          :ajax-url="url"
          :column-header="header"
          :column-data="columns"
          :column-defs="definitions">
        </data-table>
      </d-col>
    </d-row>
  </d-container>
</template>

<script>
import DataTable from '../components/common/DataTable.vue';

export default {
  name: 'Reviews',
  components: {
    DataTable,
  },
  data() {
    return {
      title: 'Reviews',
      icon: 'la la-institution',
      id: '#storeTable',
      url: 'api/v1/reviews',
      header: ['ID', 'Store', 'Customer', 'Rating', 'Review', 'Status'],
      columns: [
        { data: 'review_id', searchable: false, orderable: true },
        { data: 'store', searchable: true, orderable: true },
        { data: 'user', searchable: false, orderable: false },
        { data: 'rating', searchable: true, orderable: true },
        { data: 'review', searchable: false, orderable: true },
        { data: 'verified', searchable: false, orderable: false },
      ],
    };
  },
  computed: {
    definitions() {
return [
        { targets: '_all', searchable: false },
        {
          targets: 1,
          render(store) {
            return `${store.store_name} - ${store.locality}`;
          },
        },
        {
          targets: 2,
          render(user) {
            return user.mobile;
          },
        },
        {
          targets: 3,
          render(e) {
            let starHtml = '';
            const noColorStar = 5 - e;

            for (let index = 0; index < e; index++) {
              starHtml += '<span class="fa fa-star rating-checked" style="color: yellow"></span>';
            }

            for (let index = 0; index < noColorStar; index++) {
              starHtml += '<span class="fa fa-star rating-checked" style="color: gray"></span>';
            }
            return starHtml;
          },
        },
        {
          targets: 4,
          render(e) {
            if (e) {
              if (e.length > 50) {
                return `${e.substring(0, 50)} more...`;
              }
              return e;
            }
            return '';
          },
        },
        {
          targets: -1,
          render(e) {
            if (e) {
              return '<span class="badge bg-info">Published</span>';
            }
            return '<span class="badge bg-warning">Unpublished</span>';
          },
        },
      ];
    }
  }
};
</script>
