<template>
  <d-container fluid class="main-content-container px-4">
    <d-row no-gutters class="page-header py-4">
      <d-col col sm="4" class="text-center text-sm-left mb-4 mb-sm-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
        <h3 class="page-title">Transactions</h3>
      </d-col>
    </d-row>
    <d-row class="pb-4">
      <d-col>
        <data-table
          :title-text="title"
          :title-icon="icon"
          :table-id="id"
          :ajax-url="url"
          :column-header="header"
          :column-data="columns"
          :searchable="true"
          :orderable="true"
          :column-defs="definitions">
        </data-table>
      </d-col>
    </d-row>
  </d-container>
</template>

<script>
import DataTable from '../components/common/DataTable.vue';

export default {
  name: 'Transactions',
  components: {
    DataTable,
  },
  data() {
    return {
      title: 'Transactions',
      icon: 'la la-institution',
      id: '#transactionsTable',
      url: 'api/transactions',
      header: ['ID', 'Sender', 'S.Credits', 'Type', 'Receiver', 'R.Credits', 'Amount', 'Date'],
      columns: [
        { data: 'transaction_id', searchable: true, orderable: true },
        { data: 'sender', searchable: false, orderable: false },
        { data: 'sender_credits', searchable: false, orderable: false },
        { data: 'transaction_type', searchable: false, orderable: false },
        { data: 'receiver', searchable: false, orderable: false },
        { data: 'receiver_credits', searchable: false, orderable: false },
        { data: 'amount', searchable: false, orderable: true },
        { data: 'created_at', searchable: false, orderable: true },
      ]
    };
  },
  computed: {
    definitions() {
      return [
        {
          targets: 1,
          render(sender) {
            return sender.mobile || sender.username;
          },
        },
        {
          targets: 3,
          render(type) {
            return type.name;
          },
        },
        {
          targets: 4,
          render(receiver) {
            return receiver.mobile || receiver.username;
          },
        },
        {
          targets: -1,
          render(date) {
            if (date) {
              return new Date(Date.parse(date)).toLocaleDateString();
            }
            return 'Unknown';
          },
        },
      ];
    }
  }
};
</script>
