<template>
  <d-container fluid class="main-content-container px-4">
    <d-row no-gutters class="page-header py-4">
      <d-col col sm="4" class="text-center text-sm-left mb-4 mb-sm-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
        <h3 class="page-title">Users</h3>
      </d-col>
    </d-row>
    <d-row class="pb-4">
      <d-col>
        <data-table
          :title-text="title"
          :title-icon="icon"
          :table-id="id"
          :ajax-url="url"
          :column-header="header"
          :column-data="columns"
          :searchable="true"
          :orderable="true"
          :column-defs="definitions">
        </data-table>
      </d-col>
    </d-row>
  </d-container>
</template>

<script>
import DataTable from '../components/common/DataTable.vue';

export default {
  name: 'Users',
  components: {
    DataTable,
  },
  data() {
    return {
      title: 'Stores',
      icon: 'la la-institution',
      id: '#usersTable',
      url: 'api/users',
      header: ['ID', 'Mobile', 'First Name', 'Last Name', 'Username', 'Roles', 'Joined'],
      columns: [
        { data: 'id', searchable: false, orderable: true },
        { data: 'mobile', searchable: true, orderable: true },
        { data: 'firstname', searchable: true, orderable: true },
        { data: 'lastname', searchable: false, orderable: true },
        { data: 'username', searchable: true, orderable: true },
        { data: 'roles', searchable: false, orderable: false },
        { data: 'created_at', searchable: false, orderable: true },
      ]
    };
  },
  computed: {
    definitions() {
      return [
        {
          targets: -2,
          orderable: false,
          render(roles) {
            let roleConcat = '';
            roles.forEach((role, index) => {
              if (!roleConcat.includes(role.name)) {
                if (index > 0) {
                  roleConcat = `${roleConcat}, `;
                }
                roleConcat += role.name;
              }
            });
            return roleConcat;
          },
        },
        {
          targets: -1,
          className: 'text-center',
          render(date) {
            if (date) {
              return new Date(Date.parse(date)).toLocaleDateString();
            }
            return 'Unknown';
          },
        },
      ];
    }
  }
};
</script>
