<template>
  <d-col class="form-group">
    <label for="gmap_input">Store Location</label>
    <input id="gmap_input" class="form-control" type="text" ref="complete_address"/>

    <div class="gmap__data">
      <input type="text" ref="lat" name="lat" class="lat"/>
      <input type="text" ref="lng" name="lng" class="lng"/>
      <input type="text" ref="viewport" name="viewport" class="viewport"/>
      <input type="text" ref="formatted_address" name="formatted_address" class="formatted_address"/>
      <input type="text" ref="street_number" name="street_number" class="street_number"/>
      <input type="text" ref="postal_code" name="postal_code" class="postal_code"/>
      <input type="text" ref="locality" name="locality" class="locality"/>
      <input type="text" ref="region" name="administrative_area_level_1" class="region"/>
      <input type="text" ref="country_name" name="country" class="country"/>
      <input type="text" ref="country_shortcode" name="country_short" class="country_short"/>
    </div>
  </d-col>
</template>

<script>
export default {
  name: 'GmapInput',
  data() {
    return {
      isValid: false,
      complete_address: '',
      lat: 14.556586,
      lng: 121.023415,
      viewport: '',
      formatted_address: '',
      street_number: '',
      postal_code: null,
      locality: '',
      region: '',
      country_name: '',
      country_shortcode: '',
    };
  },
  computed: {
    keys() {
      return [
        'complete_address',
        'lat',
        'lng',
        'viewport',
        'formatted_address',
        'street_number',
        'postal_code',
        'locality',
        'region',
        'country_name',
        'country_shortcode',
      ];
    },
  },
  mounted() {
    this.inialize();
  },
  methods: {
    inialize() {
      const self = this;
      $('#gmap_input')
        .geocomplete({
          map: '.add-store__form__gmap-display',
          details: '.gmap__data',
          types: ['establishment', 'geocode'],
          country: 'PH',
          markerOptions: {
            draggable: false,
          },
          mapOptions: {
            zoom: 15,
            scrollwheel: false,
          },
          location: [self.lat, self.lng],
        })
        .bind('geocode:result', (event, result) => {
          self.keys.forEach((key) => {
            console.log(key);
            self.$data[key] = self.$refs[key].value;
          });
          this.isValid = true;
          self.$emit('input', self.$data);
        });
    },
  },
};
</script>

