<template>
    <d-card class="stats-small card card-small">
        <d-card-body class="px-0 pb-0">
            <div class="d-flex px-3">
                <div class="stats-small__data">
                    <span class="stats-small__label text-uppercase mb-1">{{ label }}</span>
                    <h6 class="stats-small__value count m-0">{{ value }}</h6>
                </div>
                <div class="stats-small__data text-right align-items-center">
                    <span :class="['stats-small__percentage', `stats-small__percentage--${computedPercentageModifier}`]">{{ percentage }}</span>
                </div>
            </div>
            <canvas height="60" ref="canvas" :class="[computedChartId]"></canvas>
        </d-card-body>
    </d-card>
</template>

<script>
import Chart from '../../utils/chart';

export default {
  name: 'd-small-stats',
  props: {
    id: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      default: 'Label',
    },
    value: {
      type: [Number, String],
      default: 0,
    },
    percentage: {
      type: [Number, String],
      default: 0,
    },
    increase: {
      type: Boolean,
      default: true,
    },
    decrease: {
      type: Boolean,
      default: true,
    },
    chartOptions: {
      type: Object,
      default() {
        return {};
      },
    },
    chartData: {
      type: Array,
      required: true,
      default() {
        return [];
      },
    },
    chartConfig: {
      type: Object,
    },
  },
  computed: {
    computedChartId() {
      return this.id;
    },
    computedPercentageModifier() {
      return this.increase ? 'increase' : 'decrease';
    },
  },
  mounted() {
    const chartOptions = {
      ...{
        maintainAspectRatio: true,
        responsive: true,
        legend: {
          display: false,
        },
        tooltips: {
          enabled: false,
          custom: false,
        },
        elements: {
          point: {
            radius: 0,
          },
          line: {
            tension: 0.33,
          },
        },
        scales: {
          xAxes: [{
            gridLines: false,
            ticks: {
              display: false,
            },
          }],
          yAxes: [{
            gridLines: false,
            scaleLabel: false,
            ticks: {
              display: false,
              isplay: false,
              suggestedMax: Math.max(...this.chartData[0].data) + 1,
              suggestedMin: Math.min(...this.chartData[0].data) - 1,
            },
          }],
        },
      },
      ...this.chartOptions,
    };

    const chartConfig = {
      ...{
        type: 'line',
        data: {
          ...{ labels: ['Label 1', 'Label 2', 'Label 3', 'Label 4', 'Label 5'] },
          ...{
            datasets: this.chartData,
          },
        },
        options: chartOptions,
      },
      ...this.chartConfig,
    };
    const chart = new Chart(this.$refs.canvas, chartConfig);
  },
};
</script>
