<template>
  <d-container fluid class="main-content-container px-4">
    <d-row no-gutters class="page-header py-4">
      <d-col col sm="4" class="text-center text-sm-left mb-4 mb-sm-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
        <h3 class="page-title">Stores</h3>
      </d-col>
    </d-row>
    <d-row class="pb-4">
      <d-col>
        <data-table
          :title-text="title"
          :title-icon="icon"
          :table-id="id"
          :ajax-url="url"
          :searchable="true"
          :orderable="true"
          :column-header="header"
          :column-data="columns">
        </data-table>
      </d-col>
    </d-row>
  </d-container>
</template>

<script>
import DataTable from '../../components/common/DataTable.vue';

export default {
  name: 'Stores',
  components: {
    DataTable,
  },
  data() {
    return {
      title: 'Stores',
      icon: 'la la-institution',
      id: '#storeTable',
      url: 'api/v1/stores',
      header: ['ID', 'Name', 'Phone', 'Locality', 'Added'],
      columns: [
        { data: 'store_id', searchable: false, orderable: true },
        { data: 'store_name', searchable: true, orderable: true },
        { data: 'phone_number', searchable: false, orderable: false },
        { data: 'locality', searchable: true, orderable: true },
        { data: 'created_at', searchable: false, orderable: true }
      ]
    };
  }
};
</script>
